*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient( black,gray);
    border-radius: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(to right, black,gray);
    color:white;
    width:80%;
    margin: auto;
    position: sticky;
    margin-top: 1rem;
    top: 20px;
    padding: 0.2rem 2rem ;
    border-radius: 20px;
}

ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    
}

.icon{
    display: none;
}

.show{
    height: 100%;
    
}

main{
    display: flex;
    width: 80%;
    margin:20px  auto;
    /* background-color: #0E0D13; */
    gap: 2rem;
}
.title-section{
    width: 70%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title-section h1{
    font-size: 2.8rem;
}

.image-section{
    width: 80%;
}

.title-section button{
    padding: 0.8rem;
    border-radius: 20px;
    border:none;
    background:linear-gradient(to right, black,gray);
    color: white;
}

.cards{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 2rem;
    
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 1rem;
}
.cards img{
    margin: auto;
    
}


.first,.second{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: 1px solid lightgray;
    margin-bottom: 2rem;
    padding: 2rem;
}

.second .image{
    order: 2;
}


.testimonials{
    width: 80%;
    margin: 3rem auto;
}

.testimonials .image img{
    border-radius: 50%;
    object-fit: cover;
}

.text{
    width: 60%;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    background:linear-gradient(to right, black,gray);
    color: white;
}

.left{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 2rem;
}


.list{
    display: flex;
    justify-content: space-between;

}

.list ol{
    list-style: none;
    font-size: 1.3rem;
    
    
}

.list ol li{
    width: max-content;
}

.social-icons{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    gap: 1.5rem;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.3rem;
}

.input{
    border: 1px solid lightgray;
    width: max-content;
}

input[type="text"]{
    border: none;
    background: transparent;
}

input:focus{
    border: none;
    outline: none;

}

::placeholder{
    color:white
}

span{
    border-left: 1px solid lightgray;
}


@media only screen and (max-width:600px){
    nav{
        flex-direction: column;
        position: relative;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .nav-items{
        width: 100%;
    }
    ul{

        display: none;
    }
    li{
        width: 100%;
    }

    .button{
        height: 0;
        overflow: hidden ;
    }

    .icon{
        display: block;
        font-size: 1.7rem;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
    }

    main{
        flex-direction: column;
    }
    .title-section{
        width: 100%;
    }
    .image-section{
        width: 100%;
    }
    .cards{
        flex-direction: column;
    }

    .testimonials{
        
}

    .first,.second{
        flex-direction: column;
        margin-bottom: 2rem;
        border: 1px solid black;
        padding: 2rem;
        border-radius: 10px;
    }
    .text{
        width: 80%;
    }
    .second .image{
        order: 0;
    }

}


@media only screen and (max-width:500px){
    footer{
        flex-direction: column;
    }

    .left{
        width: 100%;
    }
}